<div class="test" *ngIf="comments">
    <label style="color: gray; margin-left: 90%;" > {{commentsSize}} </label>
    <i style="margin-left: 5px;color: gray;" class="fas fa-comment-dots" [routerLink]="'displayAllComment/' + issueID" ></i>
      <div *ngFor="let c of comments.slice(0, 2) "  >
  
             <div class="oneComment" >
                 <div class="userdetails">
                      <div class="userimage">
                       <img class="img-circle img-bordered-sm" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user image">
                 </div>
                  <div class="userdata" style="margin-top: 10px;">
                  <div class="user-block"   >
                    <span class="username"   >  
                      {{(myUser.firstName + ' '+ myUser.lastName )}} 

                       </span>
                        <span class="comment_date">{{c.creation_date | date : 'dd/MM/yyyy HH:mm'}}
                   </span>
  
                  </div>
                  
                   </div>
               </div>
    <br>
            <div class="contenuComent">
                <p style="text-align: left;margin-left: 5px;"> {{c.comment_details}} </p>
              </div>
               <br>
    
            </div>
           <br>
      </div>
    <!--  <pagination-controls (pageChange)="p = $event" ></pagination-controls>
  -->
      <app-add-comment (commentSaved)="refreshData()" [issueID]="issueID" ></app-add-comment>
        
    </div>
    