<div class="card">
  <div class="card-header">
    <h3 class="card-title">Events</h3>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      class="form-control"
      placeholder="Search events..."
      (input)="filterCars()"
    />

    <div class="card-tools">
      <button
      type="button"
      class="btn btn-tool"
      data-card-widget="collapse"
      title="Collapse"
    >
      <i (click)="toggleCalendarVisibility()" class="fas fa-calendar-alt" ></i>
    </button>
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
        title="Collapse"
      >
        <i class="fas fa-minus"></i>
      </button>
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="remove"
        title="Remove"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped projects">
      <thead>
        <tr>
          <th style="width: 5%">Id</th>
          <th style="width: 20%">Event Name</th>
          <th style="width: 25%">Description</th>
          <th style="width: 15%">Planified Date</th>
          <th style="width: 15%" class="text-center">Nombre Place</th>
          <th style="width: 20%">Price</th>
          <th style="width: 5%">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="filteredCars.length > 0">
        <tr *ngFor="let event of filteredCars">
          <td>{{ event.idEvent }}</td>
          <td>
            <a>{{ event.eventName }}</a>
          </td>
          <td>{{ event.eventDescription }}</td>
          <td>{{ event.creationDate | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td class="text-center">{{ event.eventNbplace }}</td>
          <td>{{ event.eventPrice }}</td>
          <td class="project-actions">
            <a
              class="btn btn-danger btn-sm"
              (click)="deleteEvent(event.idEvent)"
            >
              <i class="fas fa-trash"></i> Delete
            </a>
            <a
              class="btn btn-success btn-sm"
              routerLink="/admin/main/event/update/{{ event.idEvent }}"
            >
            
              <i class="fas fa-pencil-alt"></i> Edit
            </a>
            <a
            class="btn btn-info btn-sm"
            (click)="toggleVisibility(event.idEvent)"
          >
            <i class="fas fa-info"></i> Delete
          </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="stat" *ngIf="!isHidden"  >

  <canvas class="pieChart" id="pieChart"   style="margin-left: 20%;"  width="100" height="100"></canvas>


</div>
<div class="statistic" *ngIf="!isCalendarHidden"  >

  <canvas class="barChart" id="barChart"   style="margin-left: 20%;"  width="100" height="100"></canvas>


</div>


<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Event Add</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#"></a></li>
            <li class="breadcrumb-item active">Event Add</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">General</h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
                title="Collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputName">Event Name</label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                [(ngModel)]="event.eventName"
              />
            </div>
            <div class="form-group">
              <label for="inputDescription">Event Description</label>
              <textarea
                id="inputDescription"
                class="form-control"
                rows="4"
                [(ngModel)]="event.eventDescription"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="inputStatus">Status</label>
              <select id="inputStatus" class="form-control custom-select">
                <option selected disabled>Select one</option>
                <option>On Hold</option>
                <option>Canceled</option>
                <option>Success</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputProjectLeader">Price</label>
              <input
                type="text"
                id="inputProjectLeader"
                class="form-control"
                [(ngModel)]="event.eventPrice"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title"></h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
                title="Collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="inputSpentBudget">Planified Date</label>
              <input
                type="date"
                id="inputSpentBudget"
                class="form-control"
                [(ngModel)]="event.planifiedDate"
              />
            </div>
            <div class="form-group">
              <label for="inputEstimatedDuration">Places Available</label>
              <input
                type="number"
                id="inputEstimatedDuration"
                class="form-control"
                [(ngModel)]="event.eventNbplace"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="#" class="btn btn-secondary">Cancel</a>
        <input
          type="submit"
          value="Create new Event"
          class="btn btn-success float-right"
          (click)="postEvent()"
        />
      </div>
    </div>
  </section>
  <router-outlet>  </router-outlet>

</div>







<!--
  Reservation Section **
-->

<div class="card">
  <div class="card-header">
    <h3 class="card-title">List of Reservations</h3>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      class="form-control"
      placeholder="Search events..."
      (input)="filterCars()"
    />

    <div class="card-tools">
   
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
        title="Collapse"
      >
        <i class="fas fa-minus"></i>
      </button>
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="remove"
        title="Remove"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <table class="table table-striped projects">
      <thead>
        <tr>
          <th style="width: 20%">Id</th>
          <th style="width: 20%">Id User</th>
          <th style="width: 25%">Description</th>
          <th style="width: 15%">Nombre Place</th>
          <th style="width: 15%">id Event</th>
          <th style="width: 5%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of reservations">
          <td>{{ res.idReservation }}</td>
          <td>{{ res.idUser }}</td>
          <td>{{ res.description }}</td>
          <td class="text-center">{{ res.nbPlace }}</td>
          <td>10</td>
          <td class="project-actions">
            <a class="btn btn-danger btn-sm"
              (click)="deleteReservation(res.idReservation)">
              <i class="fas fa-trash"></i> Delete
            </a>
            <a class="btn btn-info btn-sm" routerLink="">
              <i class="fas fa-pencil-alt"></i> Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>