<!-- <form (submit)="onSubmit()">
    <input type="text" placeholder="Title" [(ngModel)]="course.title" name="title" required><br>
    <textarea placeholder="Description" [(ngModel)]="course.description" name="description" required></textarea><br>
    <input type="number" placeholder="Price" [(ngModel)]="course.price" name="price" required><br>
    <input type="file" (change)="onFileSelected($event)" multiple required><br>
    <button type="submit">Create Course</button>
</form> -->


<div class="container">
  <h2>Add New Course</h2>
  <form #courseForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="course.title" name="title" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" class="form-control" [(ngModel)]="course.description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" class="form-control" [(ngModel)]="course.price" name="price" required>
    </div>
    <div class="form-group">
      <label for="videos">Rate :</label>
      <ngb-rating [max]="5" [(rate)]="course.rate" [readonly]="false"></ngb-rating>
    </div>
    <div class="form-group">
      <label for="videos">Upload Videos:</label>
      <input type="file" id="videos" class="form-control-file" (change)="onFileSelected($event)" multiple>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!courseForm.valid">Create Course</button>
  </form>
</div>
