<div class="mymain">

    
    <div class="optionBar">

        <i (click)="toggleVisibility()" class="fas fa-list" style=" margin-top: 15px; margin-left: 5px; font-size:20px;color:black"> &#xe5c3; </i>
    </div>


    <div class="sidebar"  *ngIf="!isHidden" >

        <div class="createIsssueSideBar"  > 
            <app-create-issue (dataSaved)="reloadData()" ></app-create-issue> 
        </div>
        <br>
        <div class="gotogemini">
            <span>Esprit Connected AI </span>
            <i class="fas fa-atom" routerLink="goToChat" > </i>
        </div>
        <br>
        <div class="searchIssueByPriotty">
            <button class="red" (click)="getHighIssue()" >High </button>
             <button class="orange" (click)="getMediumIssue()">Medium</button>
              <button class="yellow" (click)="getlowIssue()">Low</button>

        </div>

    </div>
    <div class="myhome">
        <div >
            <app-details-issue [passedList]="passedList" ></app-details-issue>
        </div>
    </div>
</div>