.floating-pdf-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 600px;
    overflow-y: auto;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #000;
}

.close-btn:hover {
    color: #555;
}

.floating-pdf-window iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
}
.filter-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.filter-icon:before {
    content: "\f0b0"; /* Code Unicode pour une icône de filtre, vous pouvez le remplacer par l'icône de votre choix */
    font-family: "Font Awesome"; /* Assurez-vous que la police d'icônes est chargée dans votre projet */
    color: #fff;
}
