<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ressources</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Ressources</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List of all ressources</h3>
                        <a class="btn btn-info btn-sm float-sm-right" routerLink="/admin/main/addRess/">
                            <i class="fas fa-plus"></i> New Ressource
                        </a>
                    </div>
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID Ressource</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Type Ressource</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Description</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">ID User</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Nombre de Réact</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Titre</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">URL File</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Date de création</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">File Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">File Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ressource of ressources">
                                                <td>{{ ressource.idRessource }}</td>
                                                <td>{{ ressource.typeR }}</td>
                                                <td>{{ ressource.description }}</td>
                                                <td>{{ ressource.idUser }}</td>
                                                <td>{{ ressource.nbrReact }}</td>
                                                <td>{{ ressource.titre }}</td>
                                                <td>{{ ressource.urlFile }}</td>
                                                <td>{{ ressource.dateCreation }}</td>
                                                <td>{{ ressource.fileName }}</td>
                                                <td>{{ ressource.fileType }}</td>

                                        

                                                <td> <a class="btn btn-info btn-sm" (click)="deletRessource(ressource.idRessource)">
                                                    <i class="fas fa-pencil-alt"></i> Delete
                                                  </a>
                                                </td>

                                                <td> <a class="btn btn-info btn-sm" routerLink="/admin/main/updateRess/{{ressource.idRessource}}">
                                                    <i class="fas fa-pencil-alt"></i> Edit
                                                  </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        <ul class="pagination">
                                            <!-- Pagination controls -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>