<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Resources</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Resources</li>
                </ol>
                
            </div>
            <br>
            <br>
            <div class="row  mb-4">
                <div class="col-lg-12">
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" name="searchTerm" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search..." />
                        </div>
                    </form>
                </div>
             </div>
             <div class="form-group">
                <label>Order By:</label>
                <div class="btn-group" style="width: 100%;">
                    <button type="button" class="btn btn-info" (click)="filterByType('all')">All items</button>
                    <button *ngFor="let type of ressourceTypes" (click)="filterByType(type)" type="button" class="btn btn-info" (click)="filterByType(type)">{{ type }}</button>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">List of all resources</h3>
                        <a class="btn btn-info btn-sm float-sm-right" routerLink="/admin/main/addRess/">
                            <i class="fas fa-plus"></i> New Resource
                        </a>
                    </div>
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" aria-describedby="example2_info" style="width: 100%; max-width: 1000px;">
                                        <thead>
                                            <tr>

                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Type of Resource</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Description</th>

                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Number of Reacts</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Title</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">URL File</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Creation date</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">File Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">File Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ressource of filteredRessources">
                                        
                                                <td>{{ ressource.typeR }}</td>
                                                <td>{{ ressource.description }}</td>
                               
                                                <td>{{ ressource.nbrReact }}</td>
                                                <td>{{ ressource.titre }}</td>
                                                <td>{{ ressource.urlFile }}</td>
                                                <td>{{ ressource.dateCreation }}</td>
                                                <td>{{ ressource.fileName }}</td>
                                                <td>{{ ressource.fileType }}</td>
                                                
                                                <td>
                                                    <button class="btn btn-success btn-sm" (click)="showPdf(ressource.urlFile)">
                                                        <i class="fas fa-file-pdf"></i> Print
                                                      </button>
                                                  </td>

                                                <td> <a class="btn btn-info btn-sm" routerLink="/admin/main/updateRess/{{ressource.idRessource}}">
                                                    <i class="fas fa-pencil-alt"></i> Edit
                                                  </a>
                                                </td>

                                                <td> 
                                                    <button class="btn btn-danger btn-sm" (click)="deletRessource(ressource.idRessource)">
                                                        <i class="fas fa-trash"></i> Delete
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    
                                    </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-7">
                                    <div class="floating-pdf-window" *ngIf="isPdfModalOpen">
                                        
                                            <h4 class="modal-title" id="modal-basic-title">File Content : <b></b></h4>
                                            <button type="button" class="close-btn" aria-label="Close" (click)="closePdfModal()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        
                                        
                                           
                                            <iframe *ngIf="selectedRessourceUrl" [src]="getPdfUrl(selectedRessourceUrl)"></iframe>
                                        
                                    </div>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>