
<app-header></app-header>

<section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form  (ngSubmit)="onLogin()" id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>SIGN IN </h2>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <input [(ngModel)]="email" name="email" type="text" id="name" placeholder="YOUR EMAIL...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                    <input [(ngModel)]="password" name="password" type="password" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR PASSWORD..." required="">
                  </fieldset>
                  </div>
                  
                  
                  <div class="col-lg-12">
                    <fieldset>
                      <button  type="submit" id="form-submit" class="button" >LOGIN</button>
                      <br>
                      <br>
                      
                      <button routerLink="/front/register" type="submit" id="form-submit" class="button" >SIGN UP</button>
                    </fieldset>
                  </div>
                  <p>{{inactiveAccountErrorMessage}}</p>
                  <p>{{errorMessage}}</p>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h3>contact us </h3>
                <br>
                <h6>Phone Number</h6>
                <span>+216 ....</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>airoBytes@gmail.com</span>
              </li>
              <li>
                <h6> Address</h6>
                <span>esprit</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.airoBytes.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>