<h1>Category Statistics</h1>




   <!-- Bar chart -->
   <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">
        <i class="far fa-chart-bar"></i>
        Bar Chart
      </h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      
      <div class="simple-bar-chart">
        <div class="item" *ngFor="let stat of categoryStats" [style.--clr]="getRandomColor()" [style.--val]="stat.projectCount">
          <div class="label">{{ stat.categoryName }}</div>
          <div class="value">{{ stat.projectCount }}</div>
        </div>
      </div>
    </div>
    <!-- /.card-body-->
  </div>
  <!-- /.card -->
