<div class="container h-100 d-flex justify-content-center align-items-center flex-column">
  <h3>Category Statistics</h3>

  <!-- Bar chart -->
  <div class="card card-primary card-outline w-100">
      <div class="card-header">
          <h3 class="card-title">
              <i class="far fa-chart-bar"></i>
              Projects Stat
          </h3>

          <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
              </button>
          </div>
      </div>
      <div class="card-body">
          <div class="simple-bar-chart">
              <div class="item" *ngFor="let stat of categoryStats" [style.--clr]="getRandomColor()" [style.--val]="stat.projectCount">
                  <div class="label">{{ stat.categoryName }}</div>
                  <div class="value">{{ stat.projectCount }}</div>
              </div>
          </div>
      </div>
      <!-- /.card-body-->
  </div>
  <button routerLink="/admin/main/project" type="button" class="btn btn-danger">Return to projects list</button>
  <!-- /.card -->
</div>
