<div class="container mt-2">
  <div class="card">
    <div class="card-header">Cours</div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>reactNumber</th>
        <th>fileType</th>
        <th>fileContent</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of cours" (click)="toggleDetails(course)">
        <td>{{ course.id }}</td>
        <td>{{ course.title }}</td>
        <td>{{ course.description }}</td>
        <td>{{ course.reactNumber }}</td>
        <td>{{ course.fileType }}</td>
        <td>{{ course.fileContent }}</td>
        <td>
          <a routerLink="/admin/main/edit/{{course.id}}" class="btn btn-primary">Edit</a>
          <button (click)="deleteCourse(course.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr *ngIf="editingCourse === cours">
        <td colspan="7">
          <form (submit)="updateCourse()">
            <div class="form-group">
              <label for="editTitle">Title:</label>
              <input type="text" class="form-control" id="editTitle" name="editTitle" [(ngModel)]="editingCourse.title" required>
            </div>
            <div class="form-group">
              <label for="editDescription">Description:</label>
              <input type="text" class="form-control" id="editDescription" name="editDescription" [(ngModel)]="editingCourse.description" required>
            </div>
            <button type="submit" class="btn btn-success">Save Changes</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
