<!-- /.row -->
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Users</h3>
          <br>
          <button routerLink="/admin/main/user/userStat" type="button" class="btn btn-primary">View Statistics</button> 

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" [(ngModel)]="texteDeRecherche" class="form-control float-right" placeholder="Search">
                  <button (click)="effectuerRecherche()" class="btn btn-default">
                  <i class="fas fa-search"></i>
                  </button>
                  
            </div>
            
          </div>
          
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>User</th>
                <th>mail</th>
                <th>level + speciality</th>
                <th>Phone number</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.idUser }}</td>
                    <td>{{ user.firstName }}  {{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.level }} anné {{ user.speciality }}</td>
                    <td>{{ user.numTel }}</td>
                    <td>
                        <button type="button" class="btn btn-success" [routerLink]="['/admin/main/user/editUser', user.idUser]">Modify</button>
                        
                        <button  class="btn btn-danger" (click)="deleteUser(user.idUser)">
                          <i class="fas fa-trash" > </i></button>
                    </td>
                  </tr>
              
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

  <router-outlet></router-outlet>