.main {
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    height: 500px;
    background-color: rgb(229, 236, 229);
    max-width: 100vw;
    display: flex; /* Pour rendre les éléments enfants alignés horizontalement */
}


.userdata {
    background: rgb(229, 236, 229);
    width: 65%;
    display: flex;
    align-items: center; /* Center vertically */
}
.userimage {
    background: rgb(229, 236, 229);
    height: 100%;
    width: 30%;
    display: flex;
    justify-content :center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.userimage img {
    border-radius: 50%;
    width: 280px;
    height: 280px;
}
.card {
    margin-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;

}

.card-header {
    background-color: #f9f9f9;
    padding: 10px;
}

.card-info {
    padding: 10px;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
}

.info-value {
    flex: 1;
}
