<div class="main">
    <div class="userimage">
        <img src="https://i.imgur.com/bDLhJiP.jpg" alt="Placeholder Image">
    </div>
    <div class="userdata">
        <div class="card">
            <div class="card-header">
                <div class="card-info">
                    <div class="info-row">
                        <span class="info-label">UserID :</span>
                        <span class="info-value">1029</span>
                    </div>
                    <hr>
                    <div class="info-row">
                        <span class="info-label">Full Name :</span>
                        <span class="info-value">Salim Bouazizi</span>
                    </div>
                    <hr>
                    <div class="info-row">
                        <span class="info-label">E_mail :</span>
                        <span class="info-value">exemple@Gmail.com</span>
                    </div>
                    <hr>
                    <div class="info-row">
                        <span class="info-label">Class :</span>
                        <span class="info-value">4,ARCTIC</span>
                    </div>
                    <hr>
                    <div class="info-row">
                        <span class="info-label">Phone :</span>
                        <span class="info-value">22334455 </span>
                    </div>
                    <hr>
                    <div class="info-row">
                        <span class="info-label">Role :</span>
                        <span class="info-value">Student</span>
                    </div>
                </div>
            </div>
        </div>
        
        

    </div>
</div>