<div class="home">
    <div class="header">
        <span style="margin-top: 150px; opacity: 0.7;" >
            <h1 >Warning</h1>
    </span>
</div>
    
<div class="main">


    <i class="fas fa-exclamation-triangle" ></i>
    <span class="span" style="margin-top: 290px; text-align: justify;"  >
        <h3 >We regret to inform you that your account has been temporarily suspended for a period of one day due to a violation of our community guidelines.
             
            We take the rules and regulations of our community seriously to ensure a safe and respectful environment for all users. Upon review of your recent actions, it was determined that they did not align with our guidelines.
            
            Your account will be reinstated after the suspension period has elapsed. We kindly ask that you review our community guidelines to avoid similar incidents in the future.
            
            If you have any questions or concerns regarding this suspension, please feel free to reach out to our support team at "</h3>
</span>
</div>
</div>