                
<app-header></app-header>

<section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form  (ngSubmit)="changePassword()" id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>CHANGE PASSWORD </h2>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                        <input [(ngModel)]="email" name="email" type="email" id="email-input" placeholder="YOUR EMAIL...*" required readonly>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                    <input [(ngModel)]="newPassword" name="newPassword" type="password" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR PASSWORD..." required="">
                  </fieldset>
                  </div>

                  <div class="col-lg-12">
                    <fieldset>
                      <input [(ngModel)]="confirmPassword" #confirmPasswordInput="ngModel" name="confirmPassword" type="password" id="confirm-password" placeholder="CONFIRM YOUR PASSWORD..." required>
                      <!-- Warning message will be shown when newPassword and confirmPassword do not match -->
                      <div *ngIf="newPassword && confirmPassword && newPassword !== confirmPassword" class="warning-message">
                        Passwords do not match!
                      </div>
                    </fieldset>
                  </div>
                  
                  
                  <div class="col-lg-12">
                    <fieldset>
                      <button  type="submit" id="change-password-button" class="button"> CHANGE PASSWORD</button>
                      <br>
                      <br>
                      
                    </fieldset>
                  </div>
                 
                  
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h3>contact us </h3>
                <br>
                <h6>Phone Number</h6>
                <span>+216 ....</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>airoBytes@gmail.com</span>
              </li>
              <li>
                <h6> Address</h6>
                <span>esprit</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>www.airoBytes.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
    <div class="footer">
      <p>Copyright © 2022 Edu Meeting Co., Ltd. All Rights Reserved. 
          <br>
          Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
          <br>
          Distibuted By: <a href="https://themewagon.com" target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
  </section>