<div *ngIf="userRegistrationStats.length > 0" class="container h-100 d-flex justify-content-center align-items-center flex-column">
    <h3>User Registration Statistics</h3>
    <div class="card card-primary card-outline w-100">
        <div class="card-header">
            <h3 class="card-title">
                <i class="far fa-chart-bar"></i>
                Registration Stat
            </h3>
            <div class="card-tools">
                <!-- Your card tools here -->
            </div>
        </div>
        <div class="card-body">
            <div class="simple-bar-chart">
                <div class="item" *ngFor="let stats of userRegistrationStats" [style.--val]="stats[1]" [style.background-color]="getRandomColor()">
                    <div class="label">{{ getMonthName(stats[0]) }}</div>
                    <div class="value">{{ stats[1] }}</div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  