
<div class="one-issue">

    <div class="single-issue" >
  
         <div class="userdetails">
                <div class="userimage">
                    <img class="img-circle img-bordered-sm" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user image">
                  </div>
                  <div class="userdata">
                      <div class="user-block"   >
  
                      <span class="username" >
                        {{(myUser.firstName + ' '+ myUser.lastName )}}  </span>
                     <span style="margin-left: 15px; width: 250px; display: inline;" >{{issue.creationDate}}
                      </span>
  
                      </div>
        </div>
      <!--  <i class="fas fa-exclamation-triangle" style=" color: black; size: 32px;margin-left: 30px; margin-top: 15px;">  </i>-->
      <i class="fas fa-exclamation-triangle"
      [style.color]="issue.priority === 'HIGH' ? 'red' : (issue.priority === 'MEDIUM' ? 'orange' : 'yellow')"
      style="font-size: 32px; margin-left: 30px; margin-top: 15px;">
   </i>
   
  
    </div>
  
        <div class="info-section" >
              <div class="detail-row" style="font-weight: bold; margin-top: 15px;">
               <span>{{ issue.issueTitle }}</span> 
                 </div>
                 <br>
                  <div class="detail-row" >
             <span >{{ issue.issueDescription }}</span>
               </div>
   
         </div>
     <div class="image-section">
    <!-- Utilisez *ngIf pour tester si src est non nul -->
    <img id="uriImage" [src]="'data:image/png;base64,' + issue.uriImage" alt="Issue Image" *ngIf="issue.uriImage; else noImage">
  <ng-template #noImage>
  <span>No Image Available</span>
  </ng-template>
  
  <br>   
  <br>
  
  
  
  <br>
  
  <br><br><hr>
  
  
  </div>
  
  </div>
  </div>
  <div class="showAllComment">
      <div class="test" *ngIf="comments" >
        
            <div *ngFor="let c of comments |paginate:{itemsPerPage:10,currentPage:page}; "  > 
  
              <label  style="font-size: 18px; margin-right: 10px; margin-top: 25px;  color: rgb(12, 8, 2) ; float: right;"> 
              </label>
                   <div class="oneComment"   >
                    <i   class="fa fa-heart" (click)="toggleCommentVisibility(c.id_comment)"></i>
                    <label style="margin-left: 10px; color: black;" [innerHTML]="getValueOfreact(c.id_comment)">  </label>
  
                       <div class="userdetails">
                            <div class="userimage">
                             <img class="img-circle img-bordered-sm" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user image">
                       </div>
                        <div class="userdata" style="margin-top: 10px;">
                        <div class="user-block"   >
                          <span class="username" style="margin-left: 20px;"  > salim bouazizi  
                               <!-- {{getUserName(c.id_user)}}-->  
                             </span>
                              <br>
                              <span >{{c.creation_date}}
                         </span>
  
                          <!-- Assuming this code is in the template of IssueListComponent -->
                          <i (click)="deletecomment(c.id_comment)" class="fas fa-trash-alt"  style="color: red; margin-left: 10px;" >  </i>
      
                                     
                                    
                        </div>
                        
                         </div>
                     </div>
          
                  <div class="contenuComent">
                      <p style="text-align: left;margin-left: 20px;"> {{c.comment_details}} </p>
                    </div>
                     <br>
          <app-list-user *ngIf="commentVisibility[c.id_comment]" [id_comment]="c.id_comment" ></app-list-user>
                  </div>
                 <br>
            </div>
          <!--  <pagination-controls (pageChange)="p = $event" ></pagination-controls>
        -->
    
        <pagination-controls class="custom-pagination"   (pageChange)="page = $event" ></pagination-controls>

          </div>
  
  </div>