<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Here are our upcoming Events</h6>
        <h2>Upcoming Events</h2>
      </div>
    </div>
  </div>
</section>

<!--**** Sec 1 ****-->

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">


<!--list des evenements sous forme de carde*********


          <div class="col-lg-12">
            <div class="row grid">
                <div class="col-lg-4 templatemo-item-col all soon" *ngFor="let event of events">
                    <div class="meeting-item">
                        <div class="thumb">
                            <div class="price">
                                <span>{{ event.eventPrice }}$</span>
                            </div>
                            <a href="/src/assets/frontOffice/pages/meeting-details.html">
                                <img src="../../../../../../assets/frontOffice/images/meeting-01.jpg" alt="" />
                            </a>
                        </div>
                        <div class="down-content">
                            <div class="date">
                                <h6>{{ event.planifiedDate }}</h6>
                            </div>
                            <a href="../../frontOffice/pages/meeting-details.html">
                                <h4>{{ event.eventName }}</h4>
                            </a>

                            <p>{{ event.eventDescription }}</p>


                            <form (submit)="reserve(event.idEvent)" >
                                <div class="form-group">
                                    <label for="places">Number of Places:</label>
                                    <input type="number" class="form-control" id="places" [(ngModel)]="reservationDto.reservation.nbPlace" name="numberOfPlaces" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Reserve</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

      -->

<!--**********************************
**********************-->


<ul class="timeline">
  <li *ngFor="let event of events; let i = index">
    <div class="direction-{{ i % 2 === 0 ? 'r' : 'l' }}">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">{{ event.eventName }}</span>
        <span class="time-wrapper"><span class="time">{{ event.planifiedDate }}</span></span>
      </div>
      <div class="desc">
        <p>{{ event.eventDescription }}</p>
        <p>Price: {{ event.eventPrice }}$</p>
        <form (submit)="reserve(event.idEvent)">
          <div class="form-group">
            <label for="places">Number of Places:</label>
            <input type="number" class="form-control custom-input" id="places" [(ngModel)]="reservationDto.reservation.nbPlace" name="numberOfPlaces" required>
          </div>
          <button type="submit" class="btn btn-primary">Reserve</button>
        </form>
      </div>
    </div>
  </li>
</ul>












<!--********************************************************-->



        </div>
      </div>
    </div>
  </div>
</section>





<!-- THE CHALLENGE: -->
<!-- 1. recreate version 3 (https://codepen.io/cjl750/pen/mXbMyo) with no javascript whatsoever
     2. make code as abstract as possible (e.g., trying to calc positions that would work with any number of dots instead of hard-coding the container width as we do in our media queries)
     3. highest browser support possible -->
<!-- Bonus points: turn v3's pseudo content into actual element content, so it's accessible to screen readers, search engines, etc. -->

<h1>année universitaire, <span>2024–2025</span></h1>
<div class="flex-parent">
	<div class="input-flex-container">
		<input type="radio" name= "timeline-dot" data-description="1910">
		<div class="dot-info" data-description="1910">
			<span class="label">September</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1920">
		<div class="dot-info" data-description="1920">
			<span class="label">October</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1930" checked>
		<div class="dot-info" data-description="1930">
			<span class="label">Novembre</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1940">
		<div class="dot-info" data-description="1940">
			<span class="label">Decembre</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1950">
		<div class="dot-info" data-description="1950">
			<span class="label">Janvier</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1960">
		<div class="dot-info" data-description="1960">
			<span class="label">Février</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1970">
		<div class="dot-info" data-description="1970">
			<span class="label">Mars</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1980">
		<div class="dot-info" data-description="1980">
			<span class="label">Avril</span>
		</div>
		<input type="radio" name="timeline-dot" data-description="1990">
		<div class="dot-info" data-description="1990">
			<span class="label">Mai</span>
		</div>

		<div id="timeline-descriptions-wrapper">
			<p data-description="1910">Start Academic Year</p>
			<p data-description="1920">Semester 1</p>
			<p data-description="1930">Semester 1</p>
			<p data-description="1940">Semester 1</p>
			<p data-description="1950">Exams and </p>
			<p data-description="1960">Exams, End of Semester 1 and the commencement of Semester 2.</p>
			<p data-description="1970">Smester 2</p>
			<p data-description="1980">Semester 2</p>
			<p data-description="1990">Semester 2</p>
			<p data-description="2000">Semester 2</p>
      <p data-description="2000">Exams and the end of the academic year</p>
		</div>
	</div>
</div>



