@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

body{
  font-family: 'Raleway', sans-serif;
  color: #333;
}

header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

 header p{
   text-align: center;
   margin-bottom: 0;
 }

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #00c4f3;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #00c4f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #00c4f3;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}




/* ------------------------------------------------------------------------------- */


html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: white;
  background-color: #ECF0F1;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  text-align: center;
  height: 38px;
  margin: 60px 0;
}
h1 span {
  white-space: nowrap;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.input-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1000px;
  position: relative;
  z-index: 0;
  margin-left: calc((80vw - 25px) / 20);
}

input {
  width: 25px;
  height: 25px;
  background-color: #2C3E50;
  position: relative;
  border-radius: 50%;
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input:focus {
  outline: none;
}
input::before, input::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2C3E50;
  width: 4vw;
  height: 5px;
  max-width: 50px;
}
input::before {
  left: calc(-4vw + 12.5px);
}
input::after {
  right: calc(-4vw + 12.5px);
}
input:checked {
  background-color: #2C3E50;
}
input:checked::before {
  background-color: #2C3E50;
}
input:checked::after {
  background-color: #AEB6BF;
}
input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
  background-color: #AEB6BF;
}
input:checked + .dot-info span {
  font-size: 13px;
  font-weight: bold;
}

.dot-info {
  width: 25px;
  height: 25px;
  display: block;
  visibility: hidden;
  position: relative;
  z-index: -1;
  left: calc((((80vw - 25px) / 20) * -1) - 1px);
}
.dot-info span {
  visibility: visible;
  position: absolute;
  font-size: 12px;
}
.dot-info span.year {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.dot-info span.label {
  top: -65px;
  left: 0;
  transform: rotateZ(-45deg);
  width: 70px;
  text-indent: -10px;
}

#timeline-descriptions-wrapper {
  width: 100%;
  margin-top: 140px;
  font-size: 22px;
  font-weight: 400;
  margin-left: calc((-80vw - 25px) / 20);
}
#timeline-descriptions-wrapper p {
  margin-top: 0;
  display: none;
}

input[data-description="1910"]:checked ~ #timeline-descriptions-wrapper p[data-description="1910"] {
  display: block;
}

input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper p[data-description="1920"] {
  display: block;
}

input[data-description="1930"]:checked ~ #timeline-descriptions-wrapper p[data-description="1930"] {
  display: block;
}

input[data-description="1940"]:checked ~ #timeline-descriptions-wrapper p[data-description="1940"] {
  display: block;
}

input[data-description="1950"]:checked ~ #timeline-descriptions-wrapper p[data-description="1950"] {
  display: block;
}

input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper p[data-description="1960"] {
  display: block;
}

input[data-description="1970"]:checked ~ #timeline-descriptions-wrapper p[data-description="1970"] {
  display: block;
}

input[data-description="1980"]:checked ~ #timeline-descriptions-wrapper p[data-description="1980"] {
  display: block;
}

input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper p[data-description="1990"] {
  display: block;
}

input[data-description="2000"]:checked ~ #timeline-descriptions-wrapper p[data-description="2000"] {
  display: block;
}

@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 62.5px;
  }

  input::before {
    left: -37.5px;
  }
  input::after {
    right: -37.5px;
  }

  .dot-info {
    left: calc((((1000px - 25px) / 20) * -1) - 1px);
  }

  #timeline-descriptions-wrapper {
    margin-left: -37.5px;
  }
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
  }

  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 15vh;
    margin-left: 0;
    padding-bottom: 30px;
  }

  input, .dot-info {
    width: 60px;
    height: 60px;
    margin: 0 10px 50px;
  }

  input {
    background-color: transparent !important;
    z-index: 1;
  }
  input::before, input::after {
    content: none;
  }
  input:checked + .dot-info {
    background-color: #2C3E50;
  }
  input:checked + .dot-info span.year {
    font-size: 14px;
  }
  input:checked + .dot-info span.label {
    font-size: 12px;
  }

  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #AEB6BF;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECF0F1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }

  #timeline-descriptions-wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
}
.custom-input {
  width: 100%; /* Ensure the input takes up the full width */
  padding: 8px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add a border to the input */
  border-radius: 4px; /* Add some border radius for a rounded appearance */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  background-color: white;
  /* Add any other custom styles you desire */
}