.card {
    margin-bottom: 15px; /* Space between cards */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Card shadow for better visibility */
   /* border: none; /* Remove the default border */
    border: 3px solid black;
}

.card_inside{
    margin-bottom: 15px; /* Space between cards */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Card shadow for better visibility */
    border: none; /* Remove the default border */
}
.card-header {
    background-color: #5f5b5b; /* Red background */
    color: white; /* White text */
    padding: 10px 20px; /* Adjust padding to match your design */
    font-size: 1.25rem; /* Bigger font size for the title */
}
.card_bd{
    background-color: #a7a4a4; /* Red background */
    color: white; /* White text */
    padding: 10px 20px; /* Adjust padding to match your design */
    font-size: 1.25rem; /* Bigger font size for the title */
}
.card-title {
    margin-bottom: 0; /* Remove margin bottom from the title */
}
.card-category {
    margin-top: 5px; /* Spacing between title and category */
    font-size: 0.875rem; /* Adjust font size for category text */
}
.card-body {
    padding: 20px; /* Padding inside the card body */
    background-color: white; /* White background for the body */
    border-top: solid 2px #9c9c9a; /* Red top border for the card body */
}
.btn {
    margin-top: 10px; /* Add space above buttons */
    box-shadow: none; /* Remove box-shadow from buttons */
}
.btn-success {
    background-color: #4caf50; /* Adjust success button color if needed */
}
.btn-danger {
    background-color: #f44336; /* Adjust danger button color if needed */
}