<section class="meetings-page" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="filters" >
                            <ul >
                                <li (click)="filterByType('all')" [class.active]="selectedFilter === 'all'">All types</li>
                                <li *ngFor="let type of ressourceTypes" (click)="filterByType(type)" [class.active]="selectedFilter === type">{{ type }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="action-buttons justify-content-end">
                        <button class="btn btn-danger btn-add" [routerLink]="['/front/main/ressourceAdd']"><i class="fas fa-plus"></i> Add Ressource</button>
                    </div><br>
                    <br>
                    
                </div>
                
                
                <div class="row grid">
                    <div class="col-lg-4 templatemo-item-col all soon" *ngFor="let ressource of ressources; let i=index">
                      <div class="meeting-item">
                        <div class="thumb">
                          <div class="price">
                            <span>{{ ressource.typeR }}</span>
                          </div>
                          <a routerLink="/front/main/ressourceDetails/{{ressource.idRessource}}"><img src="assets/frontOffice/images/meeting-01.jpg" alt=""></a>
                        </div>
                        <div class="down-content">
                            <div class="action-buttons justify-content-end">
                                <button class="btn btn-primary btn-update" routerLink="/front/main/ressourceUpdate/{{ressource.idRessource}}"><i class="fas fa-pencil-alt"></i></button>
                                <button class="btn btn-danger btn-delete" (click)="deleteRessource(ressource.idRessource)"><i class="fas fa-trash"></i></button>
                              
                            </div>
                          <a href="meeting-details.html"><h4>{{ ressource.titre }}</h4></a>
                          <p>{{ ressource.description }}</p>
                          <div class="date">
                            <h6>{{ formatDate(ressource.dateCreation) }}</h6>
                          </div>
                    
                        </div>
                      </div>
                    </div>
                  </div>
                  
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
