<style>
  .download-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.download-button i {
  margin-right: 5px;
}

</style>
<section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                
                <div class="date">
                    <h6><span>{{ ressource.typeR }}</span></h6>
                </div>
             
                <div class="down-content">
                  <div class="row">
                    <div class="col-lg-8">
                      <a href="meeting-details.html"><h4>{{ ressource.titre }}</h4></a>
                      <p>From UserName .........</p>
                      <p class="description">{{ ressource.description }}</p>
                    </div>
                    <div class="col-lg-4 d-flex justify-content-end align-items-center">
                      <div class="action-buttons">
                        <button class="btn btn-primary btn-update" routerLink="/front/main/ressourceUpdate/{{ressource.idRessource}}">
                          <i class="fas fa-pencil-alt"></i> Update
                        </button>
                        <button class="btn btn-danger btn-delete" (click)="deleteRessource(ressource.idRessource)">
                          <i class="fas fa-trash"></i> Delete
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="mt-4"></div> <!-- Espace entre le titre et le contenu du fichier -->
                  <section>
                    <div class="row">
                      <div class="col-lg-10">
                        <h4>File Content</h4>
                      </div>
                      <div class="col-lg-2 text-right">
                        <i class="fa fa-heart like-button" [class.active]="isLiked" (click)="reactToRessource(ressource.idRessource)"></i>
                      </div>
                    </div>
                    <div class="col-lg-12 mt-3">
                      <embed [src]="getPdfUrl(ressource.urlFile)" width="100%" height="700px" />
                    </div>
                  </section>
                  <div class="row mt-4">
                    <div *ngIf="ressource.urlFile">
                      <div class="col-lg-12">
                        <div class="main-button-green">
                          <button (click)="downloadFile()" class="download-button">
                            <i class="fa fa-download"></i> Download
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 mt-4">
                    <div class="share">
                      <h5>Shared:</h5>
                      <ul>
                        <li>{{ formatDate(ressource.dateCreation) }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
            </div>
            <div class="col-lg-12">
              <div class="main-button-red">
                <a routerLink="/front/main/ressource">Back To Ressources List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>